body {
  font-family: 'Lato', sans-serif;
  background-color:#2C3F46;
  color: rgb(241, 234, 255);
  display:flex;
  align-items:center;
  flex-direction: column;
  }

li {
 list-style: none;
}


  .btn {
    cursor: pointer;
  }
  .done{
    display: none;
  }
  h1 {
    color: #ffffff;
    transition: color 0.5s ease-in-out;
    font-size:3.5rem;
  }
  
  .clicked {
    color: #7f8c8d;
  }
  
  .form,
  .greetings {
    display: none;
  }
  
  .showing {
    display: block;
    
  }
  input{
    border: 1.5px solid #73BBB4;
    height:50px;
    width : 250px;
    padding-left:25px;
    border-radius : 5px;
    background-color : #2C3F46; 
    color: greenyellow;
  }
  
  ::placeholder{
    color:white;
    font-family: 'Lato', sans-serif; 
  }
  



  .bgImage{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    animation: fadeIn 0.5 linear  ;
  }
  .clock {
    position: absolute;
    top: 30%;
    left: 20%;
    transform: translateX(-50%) translateY(-50%);
    color: #17D4FE;
    font-size: 60px;
    font-family: Orbitron;
    letter-spacing: 7px;
   


}